/* Global */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a {
    display: block;
    text-decoration: none;
}

/* --------------------------------------- */


/* -- Body -- */

#container {
    max-width: 1440px;
}


.bg {
    width: 100vw;
    height: 100vh;
    background: url("assets/bg.png");
    background-position: top;
    background-size: cover;
}

/* --------------------------------------- */


/* -- Header -- */

header {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

header > a {
    width: 189px;
    height: 50px;

    margin-left: 30px;

}

header >  a img{
    width: 100%;
    height: 100%;
}

nav.menu {
    flex: 2;
    display: flex;
    justify-content: center;

    margin: 0 15px;
}

nav.menu ul {
    list-style: none;

    display: flex;

    gap: 40px;
}

nav.menu ul li {
    background-color: rgba(148, 102, 255, .3);

    border-radius: 10px;
    transition: 0.3s;
}
nav.menu ul li:hover {
    background-color: rgba(135, 87, 248, 0.8);
}

nav.menu ul li a {
    font-size: 20px;
    font-weight: 600;

    text-transform: uppercase;
    padding: 10px 15px;

    color: #fff;

}

header button {
    width: 200px;
    height: 60px;

    cursor: pointer;

    margin-right: 30px;

    font-size: 25px;
    font-weight: 700;

    color: #fff;
    background-color: #48CCC4;

    border-radius: 5px;

    transition: 0.25s;
}

header button:hover {
    filter: brightness(1.11);
}

/* --------------------------------------- */



/* -- SLIDER -- */

.banner {
    height: calc(100vh - 220px);

    display: flex;
    align-items: center;
}

.banner .slider {
    height: 100%;

    display: flex;
    align-items: center;

    width: 8000px;

    margin-left: 0; /* Movimenta o Slider */

    transition: all 0.4s ease-out;

}

.banner .slidearea {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
    
    
    height: 50%;
    width: 100vw;

    color: #fff;
}

    /* Slider Textos */
.banner .slidearea h1 {
    text-align: center;

    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner .slidearea h1 span {
    color: #48CCC4;
}
.banner .slidearea h2 {
    font-size: 20px;
    margin-bottom: 30px;

    color: #ffffff;
}
.banner .slidearea a {
    height: 45px;
    width: 200px;

    padding: 20px 0;

    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #48CCC4;
    color: #fff;
    font-size: 14px;
    font-weight: 600;

    border-radius: 20px;
}
.banner .slidearea a:hover {
    filter: brightness(.9);
}

/* --------------------------------------- */



/* -- AREAS -- */

.areas {
    height: 120px;
}

.areas ul {
    height: inherit;
    display: flex;

    list-style: none;
}

.areas ul li {
    height: inherit;

    flex: 1;

    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}

.areas ul li a {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
} 

.areas ul li a:hover {
    cursor: pointer;
    filter: brightness(0.9);
}
.areas .prod {
    background: #CB7C33;
}

.areas .prog {
    background: #2CA438;
}

.areas .mkt {
    background: #B435B7;
}

/* --------------------------------------- */

/* Slider pointers */
.banner .slider-pointers {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    position: absolute;
    bottom: 150px;
}

.banner .pointer {
    width: 15px;
    height: 15px;

    border-radius: 10px;

    border: 2.5px solid #48CCC4;

    cursor: pointer;
}
.banner .pointer:hover {
    filter: brightness(.85);
}
.banner .pointer.active {
    background-color: #48CCC4;
}